EAI.MSG.CCRM.OM.138_ExtendedOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
* Module:  EAI.MSG.CCRM.OM.138_ExtendedOrderRequest.xsd
*		Order Management (CCRM)
* Type:		XML Schema Document
* Description:	This schema is used is the extended of 138 which has 2 additional fields to which holds the value of billing and permissisoning system values 
		from asset_cache table. 
*
*
* Change History
* Version	Date		 Author		        Description Of Change
* =======	========	==================	==============================
*  0.01	       06/08/07		G PATCHIPULUSU		Initial Version
*  0.02	       20/07/10		Sreeja   		Added the fields orderOwner,userGroup,userDomain,anonymityFlag,anonymityReason,contactJobFunction,serverId and product for CR 5862(SEA auto perm).
*  0.03        23/07/10         Swathi		        Added the fields netPriceDisplay,creditDebit for CR 5347
*  0.04        03/08/10         Sreeja		        Added the field isDelete to map the rcrmdummyfield7 from siebel for CR 5862
*  0.05        12/01/11         Lavanya                 As part of CR477 Added two fields RCRMSAPConCountry,RCRMDiscountReason at header level and OLI level respectively.
*  0.06        11/04/11         Tanmay                 As part of CR-15630 Added one new field 'priceList' to Order Header.
*  0.07        14/12/2011       Harshitha              Added primaryUUID under ExtCCRMOM_OLI
*************************************************************************/
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/CCRM/OM/OrderManagement" xmlns:cmt="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/CCRM/OM/OrderManagement" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.01">
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonOrderTypes" schemaLocation="oramds:/apps/EAIMetaData/schemas/EAI.XSD.006_CommonOrderTypes.xsd"/>
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" schemaLocation="oramds:/apps/EAIMetaData/schemas/EAI.XSD.005_CommonMessageTypes.xsd"/>
	<xsd:element name="extOrderRequest" type="xsdLocal:ExtOrderRequest"/>
	<xsd:complexType name="ExtOrderRequest">
		<xsd:sequence>
			<xsd:element name="eaiHeader" type="cmt:EaiHeader"/>
			<xsd:element name="logicalCountry" type="xsd:string"/>
			<xsd:element name="messageHeader" type="xsdLocal:ExtMessageHeader"/>
			<xsd:element name="orderHeader" type="xsdLocal:ExtCCRMOMOrderHeader"/>
			<xsd:element name="orderLineItem" type="xsdLocal:ExtCCRMOM_OLI" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtMessageHeader">
		<xsd:sequence>
			<xsd:element name="actionCode" type="xsd:string"/>
			<xsd:element name="version" type="xsd:string"/>
			<xsd:element name="userId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtCCRMOMOrderHeader">
		<xsd:sequence>
			<xsd:element name="CRMOrderNumber" type="xsd:string"/>
			<xsd:element name="installDate" type="xsd:string"/>
			<xsd:element name="removalDate" type="xsd:string"/>
			<xsd:element name="orderNote" type="xsd:string"/>
			<xsd:element name="orderStatus" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="OMSlastName" type="xsd:string"/>
			<xsd:element name="OMSfirstName" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="businessCase" type="xsd:string"/>
			<xsd:element name="accountLocId" type="xsd:string"/>
			<xsd:element name="technicalOrderNo" type="xsd:string"/>
			<xsd:element name="technicalOrderOwner" type="xsd:string"/>
			<xsd:element name="technicalFulfilmentStatusReason" type="xsd:string"/>
			<xsd:element name="technicalFulfilmentStatus" type="xsd:string"/>
			<xsd:element name="plannedInstallDate" type="xsd:string"/>
			<xsd:element name="poNumber" type="xsd:string"/>
			<xsd:element name="custRequiredDate" type="xsd:string"/>
			<xsd:element name="actualInstallationDate" type="xsd:string"/>
			<xsd:element name="account" type="xsd:string"/>
			<xsd:element name="accountLocation" type="xsd:string"/>
			<xsd:element name="orderType" type="xsd:string"/>
			<xsd:element name="quoteNote" type="xsdLocal:ExtQuoteNote" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="quoteNumber" type="xsd:string"/>
			<xsd:element name="quoteRevisionNumber" type="xsd:string"/>
			<xsd:element name="assignedOMS" type="xsd:string"/>
			<xsd:element name="salesSpecialist" type="xsd:string"/>
			<xsd:element name="accountManager" type="xsd:string"/>
			<xsd:element name="priceList" type="xsd:string"/>
			<xsd:element name="targetSystem" type="xsd:string"/>
			<xsd:element name="expectedTRTMDate" type="xsd:string"/>
                        <xsd:element name="orderOwner" type="xsd:string"/>
			<!-- SAP Integration--> 
			<xsd:element name="RCRMField1" type="xsd:string"/>
			<xsd:element name="SoldToAccountNumber" type="xsd:string"/>
			<xsd:element name="RCRMField6" type="xsd:string"/>
			<xsd:element name="RCRMField7" type="xsd:string"/>
			<!-- end-->
                        <!--As part of CR477 a new field RCRMSAPConCountry is added at hearder level-->

			<xsd:element name="RCRMSAPConCountry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        
                        
                        
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtCCRMOM_OLI">
		<xsd:sequence>
			<xsd:element name="CRMOLIId" type="xsd:string"/>
			<xsd:element name="rootItemId" type="xsd:string"/>
			<xsd:element name="parentOrderItemId" type="xsd:string"/>
			<xsd:element name="actionCode" type="xsd:string"/>
			<xsd:element name="businessCase" type="xsd:string"/>
			<xsd:element name="salesCode" type="xsd:string"/>
			<xsd:element name="billToSubscriberNumber" type="xsd:string"/>
			<xsd:element name="billToSubAccountNumber" type="xsd:string"/>
			<xsd:element name="PLI" type="xsd:string"/>
			<xsd:element name="productIntegrationId" type="xsd:string"/>
			<xsd:element name="permissioningSystem" type="xsd:string"/>
			<xsd:element name="manualPermissioningRequired" type="xsd:string"/>
			<xsd:element name="AKR" type="xsd:string"/>
			<xsd:element name="userID" type="xsd:string"/>
			<xsd:element name="userIDType" type="xsd:string"/>
			<xsd:element name="userNumber" type="xsd:string"/>
			<xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastname" type="xsd:string"/>
			<xsd:element name="dob" type="xsd:string"/>
			<xsd:element name="isNewUser" type="xsd:string"/>
			<xsd:element name="QUID" type="xsd:string"/>
			<xsd:element name="installDate" type="xsd:string"/>
			<xsd:element name="removalDate" type="xsd:string"/>
			<xsd:element name="discount" type="xsd:string"/>
			<xsd:element name="specialPrice" type="xsd:string"/>
			<xsd:element name="specialPriceCurr" type="xsd:string"/>
			<xsd:element name="specialPriceRestrictionDate" type="xsd:string"/>
			<xsd:element name="itemNumber" type="xsd:string"/>
			<xsd:element name="startStopBillingDate" type="xsd:string"/>
			<xsd:element name="billingType" type="xsd:string"/>
			<xsd:element name="billingNote" type="xsd:string"/>
			<xsd:element name="freeTrailFlag" type="xsd:string"/>
			<xsd:element name="freeTrailEndDate" type="xsd:string"/>
			<xsd:element name="STB" type="xsd:string"/>
			<xsd:element name="assetIntegrationId" type="xsd:string"/>
			<xsd:element name="orderLineStatus" type="xsd:string"/>
			<xsd:element name="permissioningStatus" type="xsd:string"/>
			<xsd:element name="interfaceForBilling" type="xsd:string"/>
			<xsd:element name="interfaceForFulfilment" type="xsd:string"/>
			<xsd:element name="configuredAttribute" type="xsdLocal:CCRMOMConfiguredAttribute" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="technicalFulfilmentReq" type="xsd:string"/>
			<xsd:element name="technicalApprovalReq" type="xsd:string"/>
			<xsd:element name="fulfilmentStatus" type="xsd:string"/>
			<xsd:element name="fulfilmentIntegrationFlag" type="xsd:string"/>
			<xsd:element name="billingAccountId" type="xsd:string"/>
			<xsd:element name="technicalFulfilmentFlag" type="xsd:string"/>
			<xsd:element name="quantity" type="xsd:string"/>
			<xsd:element name="product" type="xsd:string"/>
			<xsd:element name="altInstalBillingId" type="xsd:string"/>
			<xsd:element name="freeTrialDuration" type="xsd:string"/>
			<xsd:element name="freeTrialStartDate" type="xsd:string"/>
			<xsd:element name="lastUpdateDate" type="xsd:string"/>
			<xsd:element name="mandatorytechFulfilmentFlag" type="xsd:string"/>
			<xsd:element name="technicalVettingFlag" type="xsd:string"/>
			
			<!-- modified for PBI-333 -->
			<xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ResponseCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMePlatformId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMSupportLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMSegGrpEndUserActivity" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMRegionalFocus" type="xsd:string" minOccurs="0"  maxOccurs="1"/>
			<xsd:element name="RCRMMarketingConsentSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMManualPermissionedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalDACSId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLegalConsentSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLegalConsent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLastUpdatedProfileDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMFTLFlagSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMFTLCompleteFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMErrorContext" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        
                         <!--As part of CR477 RCRMDiscountReason is added at OLI level -->
                         
                         <xsd:element name="RCRMDiscountReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        
                        
                        
                        
			<xsd:element name="RCRMDirectMarketing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMCPfGTempURL" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMBillingAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMActionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMAAAUpdatedProfileDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PrimaryAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ParentOrderItemId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ModId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MM" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ILA" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!-- end -->
			<xsd:element name="contactMarketFocus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="billingPlatform" type="xsd:string" minOccurs="0"/>
			<xsd:element name="umbrellaProductIntegrationId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="contactReutersMessagingId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldContactUserId" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
			<xsd:element name="CpfgErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubscriberNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubscriberAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installLocationAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Cache_PermissioningSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Cache_billingplatform" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="userGroup" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="userDomain" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="anonymityFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="anonymityReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="contactJobFunction" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="serverId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="isDelete" type="xsd:string" minOccurs="0" maxOccurs="1"/>            
                          <xsd:element name="creditDebit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                         <xsd:element name="netPriceDisplay" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			 <!-- SAP Integration--> 
			<xsd:element name="SAPBillable" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPItemNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PONumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="InstallLocationAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BillToAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPActionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPBusinessCase" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CalculatedListPrice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListPrice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BillingPeriod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PublishContactToSAP" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ContactStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PPLId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="primaryUUID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!-- end-->
                </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtQuoteNote">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="noteId" type="xsd:string"/>
			<xsd:element name="installationNotes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CCRMOMConfiguredAttribute">
		<xsd:sequence>
			<xsd:element name="attributeName" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="attributeIntegrationId" type="xsd:string"/>
			<xsd:element name="valueIntegrationId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

